<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div style="display:inline;width:100%">
  <div style="display:inline;">
    <button (click)="addTable()">Add Row</button>
  </div>
  <div style="display:inline;margin-left:45%">
    <button (click)="addOrder()">Order</button>
  </div>
</div>
<br />
<table class="style" (onCellEditEnter)="editing($event)">
  <tr>
    <th style="max-width=60px">RowId</th>
    <th>ProductName</th>
    <th>Quantity</th>
    <th>UnitPrice</th>
    <th>Total</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of row; let i = index">
    <td><input type="text" [(ngModel)]="item.id" /></td>
    <td><input type="text" [(ngModel)]="item.name" /></td>
    <td><input type="text" [(ngModel)]="item.quantity" /></td>
    <td><input type="text" [(ngModel)]="item.price" /></td>
    <td><input type="text" value="{{ item.price * item.quantity }}" [disabled]=true/></td>
    <td>
      <button (click)="deleteRow(i)"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
  <tr>
    GrandTotal:
    <input type="text" [ngModel]="GrandTotal()" />
  </tr>
</table>
