<div class="custom-dialog {{ modalType }}">
  <h2 mat-dialog-title>{{ modalTitle }}</h2>
  <mat-dialog-content style="white-space: pre">
    <p>
      {{ modalMessage }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end" *ngIf="showbtn">
    <button mat-button mat-raised-button [mat-dialog-close]="false">No</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">
      Yes
    </button>
  </mat-dialog-actions>
	<mat-dialog-actions align="end" *ngIf="!showbtn">
	<button mat-button mat-raised-button [mat-dialog-close]="false">Ok</button>
	</mat-dialog-actions>
</div>
